/* Styles.css */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    border: 8px white;
    padding: 60px;
    color:white;
}
.heading {
    background-color: cadetblue;
} 

.pages {
    margin-bottom: 10px;
    padding: 24px;
    display: inline-block;
}
.page-ersho {

}
.page-absit {

}
.page-injera {

}

