/* Styles.css */

* {
    background-color: aliceblue;
    color: black;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    border: 8px whitesmoke;
}
h1 {
    font-size: 36px;
    font-weight: bolder;
    background-color: cadetblue;
} 

li {
    font-size: large;
    font-weight: lighter;
    background-color: darkslateblue;

}


