/* Styles.css */

* {
    background-color: darkgoldenrod;
    color: darkblue;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bolder;
} 

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: lighter;
}


